body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.skp{
    color: orange;
}
.button{
    text-decoration: none;
    background-color: tomato;
    color: white;
    font-weight: 700;
    border-radius: 20px;
    padding: 8px;
}
.healthy-man{
    display: flex;
    text-align: justify;
    margin-bottom: 150px;
    padding-bottom: 20px;
    padding-bottom: 20px;

}


.half-width{
    width: 50%;
    margin-left: 5%;
    padding: 20px;
    margin-top: 80px;
    margin-left: 150px;
  
 
}
.half-body{
    width: 50%;
    margin-left: 5%;
    padding: 20px;
    margin-right: 150px;
    background-repeat: no-repeat;
    
}
.half-body img{
    width: 100%;
    margin-top: 50px;
}
.healthy-girl{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.half-girl img{
    width: 80%;
    margin-left: 100px;
}
.half-girl{
    width: 50%;
    margin-left: 5%;
    padding: 20px;
    margin-left: 70px;
}
.right{
    margin-right: 100px;
}
.hp-text{
    text-align: center;
    margin-bottom: 50px;
}
.hp-text p{
    font-size: 20px;

}
.hp-text h2{
    font-size: 35px;
}
.two-img{
    display: flex;
    margin-bottom: 100px;
}
.food{
    margin-left: 100px;
   
   
}
.food img{
    width: 80%;
    border: 20px solid whitesmoke;
    border-radius: 55px;
    margin-left: 50px;
  
}
.food-right img{
    width: 80%;
    border: 20px solid whitesmoke;
    border-radius: 55px;
    margin-right: 70px;
}
.bottom{
    display: flex;
    box-shadow: 10px 10px 30px;
    margin-left: 180px;
    margin-right: 120px;
    margin-bottom: 150px;
    border-radius: 15px;
}
.bottom div{
    margin-left: 150px;
}
footer{
    text-align: center;
    background-color: black;
    padding: 50px;
}
.frs{
    color: grey;
}
footer p{
    color: white;
}